@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4:opsz,wght@8..60,300;8..60,400;8..60,500;8..60,600;8..60,700&display=swap");

:root {
    --color-primary: #323335;
    --font-big: 1.35rem;
    --font-medium: 1.2rem;
    --font-small: 1.05rem;
    --color-secondary: #183153;
}

html {
    font-size: 80%;
}
* {
    font-family: "Source Serif 4", serif;
    font-weight: 400;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    color: var(--color-primary);
    padding: 0rem;
}
.top-container {
    /* border-bottom: 2px solid #183153; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1rem;
    align-items: center;
}
.contacts-container li,
.contacts-container a {
    color: #183153;
    font-weight: 500;
    font-size: 1.1rem;
}
.phone,
.address {
    font-size: var(--font-medium);
    font-weight: 500;
    /* font-size: 1.1rem; */
}
.phone {
    margin-bottom: 5px;
    margin-top: 5px;
}
.address-container {
}
.contacts-container ul {
    list-style-type: none;
}
.contacts-container li {
    margin: 5px;
}
.name-container {
    font-size: 1.25rem;
    padding: 0.5rem;
}
.name {
    text-transform: uppercase;
    color: #183153;
    font-size: 2.5rem;
    font-weight: 700;
}

.education {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.education-1,
.education-2 {
    padding-left: 0.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.college-name {
    font-size: 1.2rem;
    font-weight: 600;
}

a,
a:link,
a:visited,
a:active,
a:hover {
    text-decoration: none;
}
i {
    color: #183153;
}

.container,
.education-container {
    padding: 0.1rem 0.75rem;
    padding-bottom: 0;
}
.technical-skills-container > ul,
.por-container ul {
    padding-left: 1.5rem;
}

.container-heading {
    border-bottom: 2px solid #183153;
    text-transform: uppercase;
    font-size: var(--font-big);
    font-weight: 700;
    color: #183153;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    /* padding-left: 1rem; */
}
.heading {
    font-size: var(--font-medium);
    font-weight: 600;
    padding-left: 0.5rem;
}
.project-heading {
    display: flex;
    gap: 10px;
}
li span {
    font-weight: 600;
    /* color: #183153; */

    margin-right: 0.25rem;
}

.content {
    font-size: var(--font-small);
    padding-left: 2rem;
    margin-bottom: 0.5rem;
}

.experience-date {
    position: absolute;
    right: 25px;
    font-size: 1rem;
}

.portfolio {
    margin-bottom: 1rem !important;
    margin-top: 1rem !important;
    display: block;
}
.portfolio span {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--color-secondary);
    color: white !important;
    padding: 0.3rem 0.7rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.por-list > li {
    font-weight: 500;
}
